<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/default}">

<head>
  <th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/management/reservations.css}">
  </th:block>
</head>

<body>
<div layout:fragment="main">
  <div class="section-container">
    <h3>디자이너 예약 현황</h3>

    <div class="date-selector">
      <a th:each="date : ${dateList}"
         th:href="@{/manage/reservations(date=${date})}"
         th:text="${#temporals.format(date, 'MM/dd (E)')}"
         th:classappend="${date} == ${selectedDate} ? 'active' : ''">
        07/03 (수)
      </a>
    </div>

    <table>
      <thead>
      <tr>
        <th>시간</th>
        <th>고객명</th>
        <th>시술</th>
        <th>상태</th>
        <th>메모</th>
        <th>관리</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="res : ${reservationList}"
          data-type="reservation-row"
          th:data-reservation-id="${res.id}"
          th:data-reservation-status="${res.status.name()}"
          th:data-paid="${res.isPaid}" style="cursor: pointer;">
        <td th:text="${res.date.toLocalTime()}">10:00</td>
        <td th:text="${res.memberName}">홍길동</td>
        <td th:text="${res.serviceName}">컷트</td>
        <td th:text="${res.status.label}"
            th:classappend="${res.status.name() == 'RESERVED' ? 'status-reserved' :
                res.status.name() == 'VISITED' ? 'status-visited' :
                res.status.name() == 'CANCELLED' ? 'status-canceled' :
                res.status.name() == 'NOSHOW' ? 'status-noshow' :
                res.status.name() == 'COMPLETED' ? 'status-completed' : ''}">
        </td>
        <td th:text="${res.comment}">짧게 해주세요</td>
        <td>
          <button class="btn-edit" th:data-reservation-id="${res.id}">수정</button>
        </td>
      </tr>

      <tr th:if="${#lists.isEmpty(reservationList)}">
        <td colspan="6" class="table-empty"> 예약 현황이 없습니다. </td>
      </tr>
      </tbody>
    </table>

    <a href="/manage/reservations/new" class="btn-add-reservation">새 예약 등록</a>
  </div>
</div>

<th:block layout:fragment="script">
  <script th:src="@{/javascript/management/reservations.js}"></script>
</th:block>
</body>
</html>