.section-container {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(0 0 0 / 0.1);
  font-family: var(--font-noto-sans);
}

.section-container h3 {
  font-size: 24px;
  font-weight: 700;
  color: var(--main-color);
  margin-bottom: 30px;
}

.reservation-form {
  margin: 0 auto;
}

.reservation-form .row {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  position: relative;
}

.reservation-form .row textarea{
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
  font-family: var(--font-noto-sans);
}

.row.date-picker-row input[type="datetime-local"] {
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
  font-family: var(--font-noto-sans);
}

.row.date-picker-row input[type="datetime-local"]:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 6px rgba(0, 123, 255, 0.5);
}


.reservation-form label {
  font-weight: 600;
  margin-bottom: 6px;
  color: var(--main-color);
}

.reservation-form input,
.reservation-form select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 1rem;
  background-color: #fff;
  color: #333;
}

.reservation-form .final-price input {
  font-weight: 700;
  color: var(--point-color);
}

.reservation-form button[type="submit"] {
  padding: 12px;
  font-size: 1rem;
  background-color: var(--main-color);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* 자동완성 관련 */
.input-autocomplete-wrapper {
  position: relative;
}

.autocomplete-results {
  border: 1px solid #ccc;
  background-color: #fff;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.autocomplete-item {
  padding: 8px 10px;
  cursor: pointer;
}

.autocomplete-item:hover {
  background-color: #f0f0f0;
}
