
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
  <th:block th:fragment="designerMenu">
    <nav class="designer-menu-bar" sec:authorize="hasAnyAuthority('ROLE_DESIGNER', 'ROLE_MAIN_DESIGNER')">


      <ul>
        <li><a href="/manage">디자이너 홈</a></li>
        <li><a href="/manage/attendance">출퇴근 내역</a></li>
        <li><a href="/manage/sales">매출 내역</a></li>
        <li><a href="/manage/reservations">예약 관리</a></li>
        <li><a href="/manage/member-card">회원 관리</a></li>
      </ul>
    </nav>
  </th:block>

</body>

</html>