<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
<th:block th:fragment="masterMenu">

    <nav class="owner-menu-bar" sec:authorize="hasAnyAuthority('ROLE_MAIN_DESIGNER')">


        <ul>
            <li><a href="/master">메인디자이너 홈</a></li>
            <li><a href="/master/designer-list">디자이너 목록</a></li>
            <li><a href="/master/services">시술 관리</a></li>
            <li><a href="/master/attendances">출퇴근 내역</a></li>
            <li><a href="/master/sales">매출 내역</a></li>
            <li><a href="/master/coupons">쿠폰 관리</a></li>
            <li><a href="/master/shop-edit">매장 정보 수정</a></li>
        </ul>
    </nav>

</th:block>
</body>
</html>
