body {
  font-family: 'Pretendard', 'Noto Sans KR', sans-serif;
  padding: 20px;
  max-width: 1280px;
  margin: 0 auto;
}
h1 {
  text-align: center;
  color: #8C9ED9;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 700;
}
label {
  margin-right: 15px;
  font-weight: 500;
  color: #000;
}
input[type="text"] {
  padding: 6px 10px;
  margin-right: 5px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
button {
  padding: 6px 12px;
  background-color: #FF3B77;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}
button:hover {
  background-color: #e02e67;
}
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
}
th,
td {
  padding: 14px 16px;
  text-align: center;
  border-bottom: 1px solid #e2e7e4;
  font-size: 15px;
}
th {
  background-color: #8C9ED9;
  color: white;
  font-weight: 600;
}
thead {
  background-color: #8C9ED9;
  color: white;
}
tr:hover {
  background-color: #f2f5ff;
}
#button{
  display: block;
  margin-top: 20px;
  text-align: right;
  margin-bottom
}
a {
  color: #1a73e8; /* 링크 색상 (구글 블루처럼 자주 쓰임) */
  text-decoration: none; /* 밑줄 제거 */
  transition: color 0.2s; /* 마우스 오버 시 부드러운 색상 전환 */
}