body{
    font-family: 'pretendard', 'Noto Sans KR', sans-serif;
    color: #000000;
    margin: 0;
    padding: 0;
}
#main{
    max-width: 1280px;
    margin: 40px auto;
    padding: 20px;
}
h2{
    font-size: 24px;
    font-weight: bold;
    color: #566A8E;
    margin-bottom: 20px;
    text-align: center;
}
table{
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
}

thead{
    background-color: #8C9ED9;
    color: white;
}
th, td{
    padding: 14px 16px;
    text-align: center;
    border-bottom: 1px solid #e2e7e4;
    font-size: 15px;
}
.list:hover {
    background-color: #f9f9f9;
}
th:nth-child(1), td:nth-child(1) {width: 12%;}
th:nth-child(2), td:nth-child(2) {width: 18%;}
th:nth-child(3), td:nth-child(3) {width: 40%;}
th:nth-child(4), td:nth-child(4) {width: 18%;}
th:nth-child(5), td:nth-child(5) {width: 12%;}
.button-wrapper{
    text-align: right;
    margin-top: 20px;
}
.primary-btn{
    background-color: #D6336C;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 10px 20px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.primary-btn:hover {
    background-color: #b82959;
}